<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Welcome!</mat-card-title>
      </mat-card-header>
      <div class="example-form" [formGroup]="form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="login()" [disabled]="!this.form.valid" class="btn-block">Log in</button>
      </div>
    </mat-card>
  </div>