<div class="container task-container">
    
    <mat-toolbar>
        <span>Task Management System</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/login']" (click)="logout()">
          Logout
        </button>
      </mat-toolbar>

    <div class="content">
        <div class="row">

            <div class="col-sm-10"></div>
            <div class="col-sm-2">
                <button
                  style="float:right;"
                  mat-flat-button
                  color="primary"
                  (click)="createTask()"
                  class="search m-1"
                >
                  <mat-icon>add_circle_outline</mat-icon>
                  New Task
                </button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-5">
                <h6>Completed Task Table</h6><br />
                <div class="table" *ngIf="dataSourceComplete.length>0">
                    <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSourceComplete">

                        <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef>
                            Title
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="scheduledDate">
                            <mat-header-cell *matHeaderCellDef>
                                Scheduled Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.scheduled_date }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="completionDate">
                            <mat-header-cell *matHeaderCellDef>
                                Completion Date
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.completed_date }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="priority">
                            <mat-header-cell *matHeaderCellDef>
                                Priority
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.priority }} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>
                                Actions
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> 
                               
                            <a
                                title="Edit"
                                class="btn" 
                                (click)="editTask(row.id)"
                                >
                              
                                <mat-icon color="primary">create</mat-icon>
                            </a>
            
                            <a
                                title="Delete"
                                class="btn"
                                (click)="deleteConfirm(row)"
                              >
                              
                                <mat-icon color="warn">delete</mat-icon>
                            </a>
                            </mat-cell>
                        </ng-container>
        
                        <mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true;"
                        ></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns">
                        </mat-row>
                    </mat-table>
        
                    </div>
                </div>
                <div *ngIf="dataSourceComplete.length==0">
                    <h3>There is no completed task!</h3>
                </div>
            </div>

            <div class="col-7">
                <button
                  style="float:right;"
                  mat-flat-button
                  color="warn"
                  (click)="deleteTasks()"
                  class="search m-1"
                >
                  Delete
                </button>
                <button
                  style="float:right;"
                  mat-flat-button
                  color="accent"
                  (click)="completedTasks()"
                  class="search m-1"
                >
                  Completed
                </button>

                <h6>Incompleted Task Table</h6>
                <br />
                <div class="table" *ngIf="dataSourceIncomplete.length>0">
                    <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="dataSourceIncomplete">
                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef>
                                Title
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
                            </ng-container>
    
                            <ng-container matColumnDef="scheduledDate">
                                <mat-header-cell *matHeaderCellDef>
                                    Scheduled Date
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{ row.scheduled_date }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="priority">
                                <mat-header-cell *matHeaderCellDef>
                                    Priority
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{ row.priority }} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="completed">
                                <mat-header-cell *matHeaderCellDef>
                                    Completed/Delete
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-checkbox 
                                    id={{row.id}}
                                    (click)="$event.stopPropagation()" 
                                    (change)="$event ? checkChange($event,row.id) : null"></mat-checkbox>  
                                    
                                </mat-cell>
                            </ng-container>
    
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>
                                    Actions
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <a
                                        title="UpdateStatus"
                                        class="btn" 
                                        (click)="updateStatus(row.id)"
                                        >
                                    
                                        <mat-icon color="accent">sync</mat-icon>
                                    </a>
                                    <a
                                    title="Edit"
                                    class="btn" 
                                    (click)="editTask(row.id)"
                                    >
                                    
                                    <mat-icon color="primary">create</mat-icon>
                                    </a>
                
                                    <a
                                    title="Delete"
                                    class="btn"
                                    (click)="deleteConfirm(row)"
                                    >
                                
                                    <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-cell>
                            </ng-container>
        
                        <mat-header-row
                        *matHeaderRowDef="displayedColumns2; sticky: true;"
                        ></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns2">
                        <!-- (click)="onRowClicked(row)" -->
                        </mat-row>
                    </mat-table>
        
                    </div>
                </div>
                <div *ngIf="dataSourceIncomplete.length==0">
                    <h3>There is no data!</h3>
                </div>
            </div>
        </div>
    </div>
</div>