
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <div class="header">
            <h1 class="h-text">Welcome</h1>
            <h4 class="h-text">To</h4>
            <p class="para-text">
                Task Management System
            </p>
        </div>
        <div class="example-form">
            <button mat-raised-button color="primary" (click)="login()" class="btn-block btn-bot">Login</button>
            <button mat-raised-button color="primary" (click)="register()" class="btn-block">Register</button>
        </div>
    </mat-card>
</div>
