.header{
    text-align: center;
}
.para-text{
    color: rgb(52, 40, 159);
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.h-text{
    font-family: 'Times New Roman', Times, serif;
}
.btn-bot{
    margin-bottom: 5px;
}